{% extends "layout.html" %}

{% block content %}

<div>
    <p><h1>HackTrend</h1></p>
    <p>Search for terms and their associated trends on <a href="http://news.ycombinator.com">Hacker News</a>.</p>
    <div class="input-group">
        <span class="input-group-btn">
            <input id="search-query-submit" class="btn btn-default" type="submit" value="Go!">
        </span>
        <input id="search-query-input" type="text" class="form-control" placeholder="Search for...">
    </div>
    <p />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Trends</h3>
        </div>
        <div class="panel-body" id="search-trends-panel">
            <a href="https://plot.ly/~sogolm/59/" target="_blank" title="" style="display: block; text-align: center;">
                <!--<img src="https://plot.ly/~sogolm/59.png" alt="" style="max-width: 100%;" onerror="this.onerror=null;" />-->
            </a>
            <script id="plotly-embed" data-plotly="sogolm:59" src="https://plot.ly/embed.js" async></script>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Top results for important dates</h3>
        </div>
        <div class="panel-body" id="search-results-panel">
            <div id="search-results-container"></div>
        </div>
    </div>
</div>


{% endblock %}
